<div class="popup-overlay" *ngIf="isVisible" >
    <div class="popup-content">
        <!-- Add to Cart Button -->
    <button class="add-to-cart-button" (click)="addToCart()">Add to Cart</button>
      <button class="close-button" (click)="closePopup()">X</button>
      <img [src]="book.image_url" alt="{{ book.title }}" />
      <h2>{{ book.title }}</h2>
      <p><strong>Author:</strong> {{ book.author }}</p>
      <p><strong>Publication Year:</strong> {{ book.publication_year }}</p>
      <p ><strong>₹{{book.price}}</strong></p>
      <p >{{book.publication_year}}</p>
      
      <div class="stars">
        <ng-container *ngFor="let star of [].constructor(5); let i = index">
          <i class="star" [class.filled]="i < book.rating">★</i>
        </ng-container>
      </div>
      
      
      
    </div>
  </div>
  