<!-- Navigation Bar -->
    <nav class="navbar">
        <div class="navbar-brand">
            <a href="/home">Library Management</a>
        </div>
        <ul class="navbar-menu">

<a routerLink="/home">Home</a> &nbsp; &nbsp; &nbsp; 

<a routerLink="/books">Books</a> &nbsp; &nbsp; &nbsp;
<a routerLink="/about-us">About Us</a> &nbsp; &nbsp; &nbsp;

<a routerLink="/contact-us">Contact Us</a> &nbsp; &nbsp; &nbsp;

<!-- <a routerLink="/log-in">LogIn</a> &nbsp; &nbsp; &nbsp; -->
<a routerLink="/cart"><i class="fas fa-shopping-cart"></i></a> &nbsp; &nbsp; &nbsp;
</ul>
</nav>

<router-outlet></router-outlet>